package home

templ home(name string) {
	<div class="h-screen bg-aqua-100 flex items-center flex-col">
		<h1 class="text-center w-full text-aqua-600 text-3xl font-bold">Hello, { name }</h1>
	</div>
}
